beautifulsoup4==4.12.3
fitz==0.0.1.dev2
nltk==3.8.1
numpy==1.26.4
rake_nltk==1.0.6
scikit_learn==1.4.0
sentence_transformers==2.7.0
spacy==3.7.4
streamlit==1.35.0
transformers==4.40.1
PyMuPDF==1.24.2
pandas==2.2.1
torch==2.3.0